.container{
    max-width: 60vw;
    margin: 0 auto;
    text-align: center;
}

.header{
    color:#AAA
}

.form{
    border: 2px solid #fff;
    padding: 20px 0;
}

.formGroup{
    /* border: 2px solid white; */
    width: 60%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label{
    font-size: 18px;
    width: 20%;
    /* text-align: ; */
    /* display: block; */
}

.input{
    border: none;
    width: 60%;
    padding: 5px 9px;
    font-size: 16px;
    border-radius: 6px ;
}