.button{
    padding: 7px 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin: 0 5px;
    color: #fff;
    font-weight: bold;
}
.button:hover{
    opacity: .8;
}

.done{
    background-color: rgb(63, 240, 57);
}
.basic{
    background-color: rgb(57, 240, 234);
}
.delete{
    background-color: rgb(234, 49, 49);
}