.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.332);
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.spinner.small {
  width: 20px;
  height: 20px;
  border-width: 2px;
  margin: 0 auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}